.clearfix:after{
    content: "";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.mt-15{
    margin-top: 15px;
}
.mr-15{
    margin-right: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.ml-15{
    margin-left: 15px;
}
.w100{
    width: 100%;
}
.hidden{
    display: none !important;
}
.text-c{
    text-align: center;
}